.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

tsconfig.node.tsbuildinfo
tsconfig.app.tsbuildinfo
package-lock.json

node_modules
bower_components

dist

.idea

database-dumps

*.sublime*

psd
thumb
sketch